<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UstReset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <UstReset.Properties.Settings>
            <setting name="UTAUInstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>New Project</value>
            </setting>
            <setting name="WavOutputName" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceBank" serializeAs="String">
                <value />
            </setting>
            <setting name="Tool1Path" serializeAs="String">
                <value>wavtool.exe</value>
            </setting>
            <setting name="Tool2Path" serializeAs="String">
                <value>resampler.exe</value>
            </setting>
            <setting name="UTAUFlags" serializeAs="String">
                <value />
            </setting>
            <setting name="UTAUTempo" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Mode2</value>
            </setting>
            <setting name="ClearlyLyrics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CutRest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearOverlap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearVibrato" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearFlags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearSTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetEnvelope" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearPreutterance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearPitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearModulation" serializeAs="String">
                <value>True</value>
            </setting>
        </UstReset.Properties.Settings>
    </userSettings>
</configuration>
